@use "../global/global";

.charts {
  display: flex;
  margin: 1rem;
  gap: 1rem;
}

.chart-div1 {
    width: 480px;
    height: 300px;
}
.chart-div2 {
    width: 480px;
    height: 300px;
}
.chart-div3 {
    width: 480px;
    height: 300px;
}
.chart-div4 {
    width: 480px;
    height: 300px;
}